<div class="card h-100">
    <a href="#"><img class="card-img-top" src="{{prod.prodctImage}}" alt=""></a>
    <div class="card-body">
      <h4 class="card-title">
        <a href="#"> {{prod.productName}}</a>
      </h4>
      <h5>${{prod.price}}</h5>
      <p class="card-text">{{prod.description}}</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
      <a href="deleteproduct/{{prod.id}}"> delete product</a>
    </div>
  </div>
